body {
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-container {
    width: 500px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: rgb(15, 12, 12);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

button {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 8px 15px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}

button:hover {
    background: rgba(255, 255, 255, 0.4);
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
}

.weekday,
.day {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}

.weekday {
    background: rgba(255, 255, 255, 0.2);
}

.day {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: 0.3s;
}

.day:hover {
    background: rgba(255, 255, 255, 0.3);
}

.booked {
    background: rgba(255, 255, 0, 0.6);
    border-radius: 50%;
    color: black;
    font-weight: bold;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: white;
    width: 300px;
}

.popup h3 {
    margin-bottom: 10px;
}

.close-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 18px;
    color: rgb(8, 6, 6);
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
    padding: 8px 12px;
    border-radius: 8px;
    backdrop-filter: blur(5px);
    transition: background 0.3s ease;
}

.back-btn:hover {
    background: rgba(255, 255, 255, 0.4);
}